@font-face {
  font-family: IRANYekanX;
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src:
    url('./Woff/IRANYekanXFaNum-Thin.woff') format('woff'),
    url('./Woff2/api.carmeoil.com/IRANYekanXFaNum-Thin.woff2') format('woff2');
}

@font-face {
  font-family: IRANYekanX;
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src:
    url('./Woff/IRANYekanXFaNum-UltraLight.woff') format('woff'),
    url('./Woff2/IRANYekanXFaNum-UltraLight.woff2') format('woff2');
}

@font-face {
  font-family: IRANYekanX;
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src:
    url('./Woff/IRANYekanXFaNum-Light.woff') format('woff'),
    url('./Woff2/IRANYekanXFaNum-Light.woff2') format('woff2');
}

@font-face {
  font-family: IRANYekanX;
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src:
    url('./Woff/IRANYekanXFaNum-Medium.woff') format('woff'),
    url('./Woff2/IRANYekanXFaNum-Medium.woff2') format('woff2');
}

@font-face {
  font-family: IRANYekanX;
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src:
    url('./Woff/IRANYekanXFaNum-DemiBold.woff') format('woff'),
    url('./Woff2/IRANYekanXFaNum-DemiBold.woff2') format('woff2');
}

@font-face {
  font-family: IRANYekanX;
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src:
    url('./Woff/IRANYekanXFaNum-ExtraBold.woff') format('woff'),
    url('./Woff2/IRANYekanXFaNum-ExtraBold.woff2') format('woff2');
}

@font-face {
  font-family: IRANYekanX;
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src:
    url('./Woff/IRANYekanXFaNum-Black.woff') format('woff'),
    url('./Woff2/IRANYekanXFaNum-Black.woff2') format('woff2');
}

@font-face {
  font-family: IRANYekanX;
  font-style: normal;
  font-weight: 950;
  font-display: swap;
  src:
    url('./Woff/IRANYekanXFaNum-ExtraBlack.woff') format('woff'),
    url('./Woff2/IRANYekanXFaNum-ExtraBlack.woff2') format('woff2');
}

@font-face {
  font-family: IRANYekanX;
  font-style: normal;
  font-weight: 1000;
  font-display: swap;
  src:
    url('./Woff/IRANYekanXFaNum-Heavy.woff') format('woff'),
    url('./Woff2/IRANYekanXFaNum-Heavy.woff2') format('woff2');
}

@font-face {
  font-family: IRANYekanX;
  font-style: normal;
  font-weight: bold;
  font-display: swap;
  src:
    url('./Woff/IRANYekanXFaNum-Bold.woff') format('woff'),
    url('./Woff2/IRANYekanXFaNum-Bold.woff2') format('woff2');
}

@font-face {
  font-family: IRANYekanX;
  font-style: normal;
  font-weight: normal;
  font-display: swap;
  src:
    url('./Woff/IRANYekanXFaNum-Regular.woff') format('woff'),
    url('./Woff2/IRANYekanXFaNum-Regular.woff2') format('woff2');
}
